.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}
.w-nav:before,
.w-nav:after {
    content: " ";
    display: table;
}
.w-nav:after {
    clear: both;
}
.w-container {
    margin-left: 16px;
    margin-right: auto;
}
.w-container:before,
.w-container:after {
    content: " ";
    display: table;
}
.w-container:after {
    clear: both;
}
.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}
.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}
.w-nav-menu {
    position: relative;
    float: right;
}
.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.top-nav-header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: #05022c;
}

.top-nav-navlink {
    padding-top: 25px;
    font-family: 'Lato', sans-serif;
    color: #a6b5bf;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.top-nav-navlink:hover {
    color: #000;
}

.top-nav-navlink.w--current {
    color: #000;
    font-weight: 600;
}

.top-nav-navlink.signup {
    color: #693453;
    font-weight: 700;
}

.top-nav-navlink.signup:hover {
    color: #48eea5;
}

.top-nav-logo {
    padding: 16px 0px 0;
    color: #c23939;
}

#menu_items {
  padding: 0; 
  margin: 0;
}
#menu_items > li{
  display: inline-block;
}
#menu_items > li a{
  border-bottom: solid 2px transparent;
  outline: none;
}
#menu_items > li a:hover{
  color: #fff;
  border-bottom-color: #fff;
}
.has_dropdown {
  position: relative;
}
.has_dropdown {
  position: relative;
}
.has_dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.dropdown{
    position: absolute;
    left: 0;
    width: 100%;
    visibility: hidden;
    background: #05022c;
    opacity: 0;
    text-align: center;
    padding: 0 0 10px 19px;
}
.dropdown li{
  display: block;
}
.dropdown li a{
  display: block;
    padding: 8px 0;
    font-family: 'Lato', sans-serif;
    color: #a6b5bf;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.signup {
    color: #FFF;
    /* position: absolute; */
    /* right: 20px; */
    background: #f26864;
    border: none;
    outline: 0;
    z-index: 2;
    cursor: pointer;
    font-weight: lighter;
    font-size: 19px;
    line-height: 1.65em;
    padding: 0 .7em;
    transform: translateY(3px);
    float: right;
    margin-left: 200px;
    margin: 12px 25px 0 60px;
}

@media (max-width: 768px){
    .navmenu.w-nav-menu {
        display: none;
    }
    .w-nav-brand, .w-nav-brand + button {
        transform: translateY(-3px);
    }
}